@font-face { font-family: Karla; src: url('Karla-Regular.ttf'); }
@font-face { font-family: Karla; font-weight: bold; src: url('Karla-Bold.ttf'); }
@font-face { font-family: MPLUSRounded1c; src: url('MPLUSRounded1c-Regular.ttf'); }
@font-face { font-family: MPLUSRounded1c; font-weight: bold; src: url('MPLUSRounded1c-Bold.ttf'); }
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

:root {
	--grey: #333333;
	--light-grey: #474747;
	--dark-grey: #212121;
	--darkest-grey: #171717;
	--teal: #7ee6c1;
	--dark-teal: #47ca9c;
	--pink: #d08fff;
	--light-pink: #eed6ff;
	--dark-pink: #b573e6;
}

body {
	--os-text-font: 16px/2;
	--os-text-color: white;
	--os-background-color: var(--grey);
	--os-background-color__hover: var(--grey);
	--os-background-secondary-color: var(--teal);
	--os-background-secondary-color__hover: var(--dark-teal);
	--os-animation-duration: 0.2s;
	--os-border: 1px solid var(--teal);
	--os-border-color: var(--dark-teal);
	--os-shadow: none;
	--os-toolbar-color: var(--teal);
	--os-toolbar-icon-color: white;
	--os-bubble-color: var(--light-grey);
	--os-bubble-background-color: var(--grey);
	--os-identifier-color: var(--pink);
	--os-link-color: var(--pink);
	--os-link-color__hover: var(--light-pink);
}

.os-block, .os-narration {
	background: var(--light-grey) !important;
}

html {
	scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--pink) transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--pink);
    border-radius: 10px;
    border: 3px solid transparent;
  }

body {
	font-size:16px;
	color: white;
	line-height:2em;
	font-family: MPLUSRounded1c, sans-serif;
	background: var(--darkest-grey);
	background-image: url("/media/site/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	color: var(--pink);
	text-decoration: none;
	transition: 0.5s;
}

a:hover {
	color: var(--light-pink);
	position: relative;
}

.alink:hover:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	border-bottom: solid 2px var(--dark-teal);
	animation: border_anim 0.5s linear forwards;
	animation-timing-function: cubic-bezier(0.1, 0.1, 0.1, 1.0);
}

h2 {
	text-align:center;
}
  
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

b {
	color: var(--pink);
}

blockquote{
  margin:20px auto;
  padding:0em 30px 0em 30px;
  border-left:2px solid var(--dark-teal);
  position: relative;
  background:transparent;
  transition: 0.5s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

blockquote:hover {
	background: var(--grey);
}

li {
  text-align: left;
  font-family: Karla, sans-serif;
}

p {
	font-family: Karla, sans-serif;
}

figure {
	margin: 2em 0em;
}

figure img {
	box-shadow: 4px 3px var(--darkest-grey);
}

iframe {
	aspect-ratio: 16 / 9;
	width: 100% !important;
}

u {
	text-decoration-color: var(--dark-teal);
}

.main {
	margin: 0 auto;
	margin-top:30px;
	margin-bottom:45px;
	border:4px solid var(--dark-teal);
	width:600px;
	border-radius:3px;
	box-shadow: 15px 10px var(--darkest-grey);
}
  
/*Box to contain header image*/
.header {
	border-bottom:4px solid var(--dark-teal);
	padding:0px;
	overflow-y:auto;
}
   
.header img {
	width:100%;
	padding:0px;
	display:block; /*Prevents extra space after image*/
	border-radius: 0;
}

#header-nav {
	margin: 0;
	width: 100%;
	line-height: 1;
	text-align: center;
	background-color: var(--main);
	font-size: 0.75em;
	display: flex;
	flex-direction:column;
}

#header-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: flex;
}

#header-nav li {
	line-height: 3em;
	flex-grow: 1;
	display: block;
	transition: 0.5s;
	text-align: center;
	font-family: MPLUSRounded1c, sans-serif;
}

#header-nav li:hover {
	flex-grow: 1.5;
	transition: 0.5s;
}

#header-nav li a:hover {
	color: var(--pink);
	transition: 0.2s;
}

#header-nav li a {
	display: block;
	text-transform: uppercase;
	color: white;
	transition: 0.2s;
}

/*Inner text area inside main div, below the header and image.*/
.text {
	background:var(--dark-grey);
	padding:25px;
}
  
/*Prevent overflow of large images in main text areas.*/
.text img {
	max-width: 100%;
	height: auto;
}
  
/*Used for the header below the header image.*/
.sub {
	font-size:18px;
	font-weight:bold;
	color:white;
	background:var(--dark-teal);
	padding-top:8px;
	text-align:center;
	padding-right: 20px;
	padding-left: 20px;
}  

/*Classes for links section.*/
.links {
	font-size:16px;
	color:white;
	background:var(--dark-teal);
	padding-top:1px;
	padding-bottom:5px;
	text-align:center;
}
 
/*Links are put into a ul list element*/ 
.links ul {
	list-style-type: none;
	margin:0px;
	padding: 0;
}
  
/*Use li for the individual links*/
.links li {
	list-style-type: none;
	display: inline-block;
	padding: 3px 10px 3px 10px;
	margin: 3px 2px 3px 2px;
	background: var(--darkest-grey);
}
  
.links a {
	color: #fff;
	text-decoration:none;
	font-weight:bold;
}
  
.links li:hover { /*The color link buttons turn when hovered over*/
	background: var(--dark-teal);
}
  
.footer {
	font-size:12px;
	color:white;
	background:var(--dark-teal);
	padding-top:4px;
	padding-bottom:1px;
	text-align:center;
	margin-top: 2em;
}
  
.footer a {
	color: white;
	transition: 0.5s;
}

.footer a:hover {
	color: var(--pink);
}

.footer-container {
	background: var(--dark-grey);
	text-align:center;
}

.footer-container h2 {
	margin: 0.25em 0em 0.5em 0em;
}
  
.imgborder {
	border: solid 2px var(--dark-teal);
	border-radius: 5px;
	transition: 0.5s;
}

.imgborder:hover {
	opacity: 75%;
}

.footer-img {
	background-image: url("/media/site/background.png");
	border: solid 1px var(--dark-teal);
	border-radius: 5px;
	box-shadow: 6px 5px var(--darkest-grey);
	max-width: 100px;
}

.song-subtitle {
	color: var(--light-pink);
}

.oissu__background.fullscreen {
  background: var(--darkest-grey);
  background-image: url("/media/site/background.png");
}

.oissu img:hover {
	transform: scale(1.03);
}

.oissu__embed .oissu .os-unit .os-content.os-rich {
	box-shadow: 4px 3px var(--darkest-grey);
}

body.oissu-bubble .oissu__embed .oissu .os-unit .os-content.os-lines p {
	box-shadow: 2.5px 2px var(--darkest-grey);
}

body.oissu-image .oissu__embed .oissu .os-unit img.os-identifier {
	box-shadow: 1.5px 1.25px var(--darkest-grey);
}

.oissu__embed .oissu .os-unit .os-content.os-lines p:last-child {
	border-bottom-left-radius: 30px!important;
}

.oissu__embed .oissu .os-unit .os-content.os-lines p {
	border-top-right-radius: 30px!important;
  border-bottom-right-radius: 10px!important;
}

.page {
	background:var(--dark-grey);
	padding:25px;
}

.directory-page, .text-directory-page {
	background:var(--dark-grey);
	padding:25px;
}

.directory-page {
	text-align: center;
}

.text-directory-page {
	text-align: left;
}

.directoryheader {
	text-align: center;
}

.directoryheader p {
	color: var(--light-pink);
}

.directorylink {
    display:inline-block;
    position:relative;
    text-align:center;
}

.directorylink .summarypreview {
	text-align:left;
    min-width:300px; 
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -75%);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:var(--grey);
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border:1px solid #FFFFFF;
    visibility:hidden; opacity:0; transition:opacity 0.5s;
}

.directorylink:hover .summarypreview {
    visibility:visible; opacity:1;
}

.directorylink .summarypreview img {
	max-width: 200px;
	border-radius: 5px;
}

.cover-block {
	margin: -1.56em -1.56em 0em -1.56em;
}

.cover-block img {
	mask-image: linear-gradient(to bottom,#000 60%,transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom,#000 60%,transparent 100%);
  width: 100%;
  border-radius: 0px;
}

.title-block {
	text-align: center;
  position: relative;
  border-bottom: 2px solid var(--dark-teal);
}

.title-block .title {
	bottom: 10px;
}

.title-block .title b {
	color: var(--light-pink);
}

.title-block .subtitle {
	bottom: -15px;
	font-family: MPLUSRounded1c, sans-serif;
	color: var(--pink);
}

.title-block .title, .title-block .subtitle {
	position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1.5px 1.5px var(--darkest-grey);
}

.storyinformation {
	background-color: var(--grey);
	padding: 0.5em;
	border: solid 1px var(--dark-teal);
	border-radius: 5px;
	text-align: center;
	width: 100%;
	transition: 0.5s;
	table-layout: fixed;
}

.storyinformation th {
	color: var(--pink);
}

.storyinformation td {
	color: var(--light-pink);
}

.storyinformation:hover {
	background-color: var(--light-grey);
}

.storysectiontitle {
	border-bottom: solid 2px var(--dark-teal);
	margin-bottom: 1em;
}

.storysectiontitle:not(b) {
	color: var(--light-pink);
}

.storybutton {
    background-color: var(--dark-pink);
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 0.3em;
    padding: 0 0.5em 0 0.5em;
    color: white;
    border-radius: 5px;
    display: inline-block;
    min-width: 1.3em;
    text-align: center;
    transition: 0.5s;
}

.storybutton:hover {
    color: white;
    background-color: var(--dark-teal);
}

.storybutton-notuploaded {
    background-color: var(--grey);
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 0.3em;
    padding: 0 0.5em 0 0.5em;
    color: white;
    border-radius: 5px;
    display: inline-block;
    min-width: 1.3em;
    text-align: center;
    transition: 0.5s;
}

.storybutton-notuploaded:hover {
	color: white;
	background-color: var(--light-grey);
}

.lyricsection {
	text-align: center;
}

.lyricnames p {
	display: inline;
}

.songtitle p {
	display: inline;
}

.fa-house {
	color:white;
	transition: 0.5s;
}

.fa-house:hover {
	color: var(--pink);
}

.fa-sitemap {
	color:white;
	transition: 0.5s;
}

.fa-sitemap:hover {
	color: var(--pink);
}

.fa-chevron-up {
	color:white;
	transition: 0.5s;
}

.fa-chevron-up:hover {
	color: var(--pink);
}

.scroll-column-container {
	padding: 0em 4em 1em 4em;
	background: var(--dark-grey);
}

.scroll-column {
	overflow-y: scroll;
	max-height: 500px;
	text-align: left;
	padding: 25px;
	border: 3px solid var(--dark-teal);
	border-radius: 5px;
	box-shadow: 8px 6px var(--darkest-grey);
}

.scroll-column h1 {
	text-align: center;
}

.scroll-column a {
	padding: 0.5em;
}

.incomplete-tag {
	color: var(--light-pink);
}

.item {
	background-color: var(--dark-grey);
	text-align: center;
	margin: 0.5em;
	padding: 0;
	border-radius: 15px;
	border-style: solid;
	border-color: var(--dark-teal);
	border-width: 1.5px;
	transition: 0.15s;
	min-width: 45%;
	height: 100px;
	box-shadow: 6px 5px var(--darkest-grey);
}

.item h3 {
	padding: 0 0.5em;
}

.item * {
	margin: 0;
	color: white;
}

.item img {
	transition: 0.15s;
}

.item:hover {
	transform: scale(1.03);
}

.item:hover img {
	object-position: 50% 15%;
}

.item:hover .directory-image-container {
	mask-image: linear-gradient(to bottom,#000 100%,transparent 100%);
	-webkit-mask-image: linear-gradient(to bottom,#000 100%,transparent 100%);
}

.item:hover .directory-text-container {
	visibility: hidden;
}

.show {
	display: block;
}

.directory-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	margin-top: 20px;
	overflow: hidden;
	border-bottom: 2px solid var(--dark-teal);
  padding-bottom: 1em;
}

.directory-container img {
	width: 100%;
	max-height: 100px;
	border-radius: 15px;
	object-fit: cover;
	object-position: 50% 0;
}

.directory-image-container {
	mask-image: linear-gradient(to bottom,#000 0%,transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom,#000 0%,transparent 100%);
}

.directory-text-container {
	position: relative;
}

.directory-text-container * {
	position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1.5px 1.5px var(--darkest-grey);
}

.directory-text-container h3 {
	bottom: 18px;
}

.directory-text-container p {
	bottom: 30px;
}

.filters {
	padding: 5px 5px 0px 5px;
	text-align: left;
}

.filters ul {
	padding:0;
}

.filters li {
  list-style-type: none;
  display: inline-block;
}

.filters li a {
  color: var(--teal);
  border-bottom: 1px solid var(--light-grey);
  margin: 0 5px;
}

.filters li a:hover {
  color: var(--light-pink);
  border-bottom: 1px solid var(--light-pink);
}

.filters li a[character] {
  display:inline-block;
  background:var(--charahead) 0 0/cover;
  height:40px;
  width:40px;
}

.filters li a[character]::after,
.filters li a[character]::before {
  content:none;
}

.filters ul b {
  margin: 0 5px;
}

.selected {
  color: var(--pink)!important;
  border-bottom-color: var(--pink)!important;
  font-weight: bold;
}

.filter[data-filter-group="characters"] {
	overflow-y: scroll;
	max-height: 100px;
}

.wip-container {
	text-align: left;
}

.wip-container h3 {
	margin-bottom: 0;
}

.wip-container p {
	margin-top: 0;
	border-bottom: 1px solid var(--dark-teal);
	font-style: italic;
}

.wip-container a {
	border-bottom: 1px solid var(--light-grey);
}

.wip-container a:hover {
	border-bottom: 1px solid var(--light-pink);
	color: var(--light-pink);
}

.wip-container tr:nth-child(odd) {
	background-color: var(--grey);
}

.wip-container td {
	width: 50%;
	padding: 0.5em 1em;
}

.wip-table-title {
	font-weight: bold;
}

.wip-table-info {
	font-style: italic;
}

.oshi-room-row {
	display: flex;
	text-align: center;
	align-items: baseline;
	justify-content: center;
}

.oshi-room-column {
	flex: 50%;
	margin: 0.5em;
}

.center {
	text-align: center;
}

.assorted-item {
	background-color: var(--grey);
	border-radius: 15px;
	padding: 1em;
	box-shadow: 5px 4px var(--darkest-grey);
	overflow: hidden;
	overflow-y: scroll;
	max-height: 500px;
	margin: 1.5em 0em;
}

.assorted-item .title {
	margin: 0em 1em;
	color: var(--pink);
}

.assorted-item .subtitle {
	margin: 0.5em 1em;
	padding-bottom: 0.5em;
	font-style: italic;
	border-bottom: 2px solid var(--dark-teal);
	color: var(--light-pink);
	line-height: 1.5em;
}

.assorted-item .content {
	border-left: 1px solid var(--dark-teal);
	padding: 0em 1em;
}

.assorted-item img, .assorted-item iframe {
	width: 100%;
	box-shadow: 4px 3px var(--dark-grey);
	margin: 1em 0em;
	border-radius: 5px;
}

video {
	width: 100%;
	box-shadow: 4px 3px var(--dark-grey);
	margin: 1em 0em;
	border-radius: 5px;
}

.photo-gallery {
	display: flex;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-gallery img {
	margin: 0.25em;
	max-width: 45%;
  border: 1px solid var(--dark-teal);
}

#scroll-container {
	margin-right: 20px;
	margin-left: 20px;
	overflow: hidden;
}

#scroll-text {
  text-align: right;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 10s linear infinite;
  -webkit-animation: my-animation 10s linear infinite;
  animation: my-animation 10s linear infinite;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--pink);
}

::selection {
  color: white;
  background: var(--pink);
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
  
@media (max-width:800px) {
	.main {
		width: 95%;
	}
	
	.directorylink .summarypreview {
		display: none;
	}

	.item {
		width: -moz-available;
		width: -webkit-fill-available;
		width: 96%;
	}

	.scroll-column-container {
		padding: 0em 2em 1em 2em;
	}

	.main {
		box-shadow: none;
	}
}