@font-face { font-family: Karla; src: url('Karla-Regular.ttf'); }
@font-face { font-family: Karla; font-weight: bold; src: url('Karla-Bold.ttf'); }
@font-face { font-family: MPLUSRounded1c; src: url('MPLUSRounded1c-Regular.ttf'); }
@font-face { font-family: MPLUSRounded1c; font-weight: bold; src: url('MPLUSRounded1c-Bold.ttf'); }
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

:root {
	--grey: #333333;
	--light-grey: #474747;
	--dark-grey: #212121;
	--darkest-grey: #171717;
	--teal: #7ee6c1;
	--dark-teal: #47ca9c;
	--pink: #d08fff;
	--light-pink: #eed6ff;
	--dark-pink: #b573e6;
}

body {
	--os-text-font: 16px/2;
	--os-text-color: white;
	--os-background-color: var(--grey);
	--os-background-color__hover: var(--grey);
	--os-background-secondary-color: var(--teal);
	--os-background-secondary-color__hover: var(--dark-teal);
	--os-animation-duration: 0.2s;
	--os-border: 1px solid var(--teal);
	--os-border-color: var(--dark-teal);
	--os-shadow: none;
	--os-toolbar-color: var(--teal);
	--os-toolbar-icon-color: white;
	--os-bubble-color: var(--light-grey);
	--os-bubble-background-color: var(--grey);
	--os-identifier-color: var(--pink);
	--os-link-color: var(--pink);
	--os-link-color__hover: var(--light-pink);
}

.os-block {
	background: var(--light-grey) !important;
}

html {
	scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--pink) transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--pink);
    border-radius: 10px;
    border: 3px solid transparent;
  }

body {
	font-size:16px;
	color: white;
	line-height:2em;
	font-family: MPLUSRounded1c, sans-serif;
	background: var(--darkest-grey);
	background-image: url("/media/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	color: var(--pink);
	text-decoration: none;
	transition: 0.5s;
}

a:hover {
	color: var(--light-pink);
	position: relative;
}

.alink:hover:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	border-bottom: solid 2px var(--dark-teal);
	animation: border_anim 0.5s linear forwards;
	animation-timing-function: cubic-bezier(0.1, 0.1, 0.1, 1.0);
}

h2 {
	  text-align:center;
  }
  
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

b {
	color: var(--pink);
}

blockquote{
  margin:20px auto;
  padding:0em 30px 0em 30px;
  border-left:2px solid var(--dark-teal);
  position: relative;
  background:transparent;
  transition: 0.5s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

blockquote:hover {
	background: var(--grey);
}

li {
  text-align: left;
  font-family: Karla, sans-serif;
}

p {
	font-family: Karla, sans-serif;
}

figure img {
	box-shadow: 5px 3px var(--darkest-grey);
}

.main {
	margin: 0 auto;
	margin-top:30px;
	margin-bottom:45px;
	border:4px solid var(--dark-teal);
	width:600px;
	border-radius:3px;
}
  
/*Box to contain header image*/
.header {
	border-bottom:4px solid var(--dark-teal);
	padding:0px;
	overflow-y:auto;
}
   
.header img {
	width:100%;
	padding:0px;
	display:block; /*Prevents extra space after image*/
	border-radius: 0;
}

/*Inner text area inside main div, below the header and image.*/
.text {
	background:var(--dark-grey);
	padding:25px;
}
  
/*Prevent overflow of large images in main text areas.*/
.text img {
	max-width: 100%;
	height: auto;
}
  
/*Used for the header below the header image.*/
.sub {
	font-size:18px;
	font-weight:bold;
	color:white;
	background:var(--dark-teal);
	padding-top:15px;
	padding-bottom:18px;
	text-align:center;
	padding-right: 20px;
	padding-left: 20px;
}  

/*Classes for links section.*/
.links {
	font-size:16px;
	color:white;
	background:var(--dark-teal);
	padding-top:1px;
	padding-bottom:5px;
	text-align:center;
}
 
/*Links are put into a ul list element*/ 
.links ul {
	list-style-type: none;
	margin:0px;
	padding: 0;
}
  
/*Use li for the individual links*/
.links li {
	list-style-type: none;
	display: inline-block;
	padding: 3px 10px 3px 10px;
	margin: 3px 2px 3px 2px;
	background: var(--darkest-grey);
}
  
.links a {
	color: #fff;
	text-decoration:none;
	font-weight:bold;
}
  
.links li:hover { /*The color link buttons turn when hovered over*/
	background: var(--dark-teal);
}
  
.footer {
	font-size:12px;
	color:white;
	background:var(--dark-teal);
	padding-top:4px;
	padding-bottom:1px;
	text-align:center;
}
  
.footer a {
	color: white;
	transition: 0.5s;
}

.footer a:hover {
	color: var(--pink);
}
  
.imgborder {
	border: solid 2px var(--dark-teal);
	border-radius: 5px;
	transition: 0.5s;
}

.imgborder:hover {
	opacity: 75%;
}

.transparentimg {
	background-image: url("/media/background.png");
	border: solid 1px var(--dark-teal);
	border-radius: 5px;
}

.subtitle {
	color: var(--light-pink);
}

.oissu__background.fullscreen {
  background: var(--darkest-grey);
  background-image: url("/media/background.png");
}

.oissu img {
	transition: 0.5s;
}

.oissu img:hover {
	opacity: 75%;
}

.page {
	background:var(--dark-grey);
	padding:25px;
	text-align:center;
}

.directoryheader {
	text-align: center;
}

.directoryheader p {
	color: var(--light-pink);
}

.directorylink {
    display:inline-block;
    position:relative;
    text-align:center;
}

.directorylink .summarypreview {
	text-align:left;
    min-width:300px; 
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -75%);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:var(--grey);
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border:1px solid #FFFFFF;
    visibility:hidden; opacity:0; transition:opacity 0.5s;
}

.directorylink:hover .summarypreview {
    visibility:visible; opacity:1;
}

.directorylink .summarypreview img {
	max-width: 200px;
	border-radius: 5px;
}

.cover-block {
	margin: -1.56em -1.56em 0em -1.56em;
}

.cover-block img {
	mask-image: linear-gradient(to bottom,#000 60%,transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom,#000 60%,transparent 100%);
  width: 100%;
  border-radius: 0px;
}

.title-block {
	text-align: center;
  position: relative;
  border-bottom: 2px solid var(--dark-teal);
}

.title-block .title {
	bottom: 10px;
}

.title-block .subtitle {
	bottom: -15px;
	font-family: MPLUSRounded1c, sans-serif;
}

.title-block .title, .subtitle {
	position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1.5px 1.5px var(--darkest-grey);
}

.storyinformation {
	background-color: var(--grey);
	padding: 0.5em;
	border: solid 1px var(--dark-teal);
	border-radius: 5px;
	text-align: center;
	width: 100%;
	transition: 0.5s;
	table-layout: fixed;
}

.storyinformation th {
	color: var(--pink);
}

.storyinformation td {
	color: var(--light-pink);
}

.storyinformation:hover {
	background-color: var(--light-grey);
}

.storysectiontitle {
	border-bottom: solid 2px var(--dark-teal);
}

.storysectiontitle:not(b) {
	color: var(--light-pink);
}

.storybutton {
    background-color: var(--pink);
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 0.3em;
    padding: 0 0.5em 0 0.5em;
    color: white;
    border-radius: 5px;
    display: inline-block;
    min-width: 1.3em;
    text-align: center;
    transition: 0.5s;
}

.storybutton:hover {
    color: white;
    background-color: var(--dark-teal);
}

.storybutton-notuploaded {
    background-color: var(--grey);
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 0.3em;
    padding: 0 0.5em 0 0.5em;
    color: white;
    border-radius: 5px;
    display: inline-block;
    min-width: 1.3em;
    text-align: center;
    transition: 0.5s;
}

.storybutton-notuploaded:hover {
	color: white;
	background-color: var(--light-grey);
}

.lyricsection {
	text-align: center;
}

.lyricnames p {
	display: inline;
}

.songtitle p {
	display: inline;
}

.fa-house {
	color:white;
	transition: 0.5s;
}

.fa-house:hover {
	color: var(--pink);
}

.fa-sitemap {
	color:white;
	transition: 0.5s;
}

.fa-sitemap:hover {
	color: var(--pink);
}

.fa-chevron-up {
	color:white;
	transition: 0.5s;
}

.fa-chevron-up:hover {
	color: var(--pink);
}

.scroll-column-container {
	padding: 50px;
	background: var(--dark-grey);
}

.scroll-column {
	overflow-y: scroll;
	max-height: 500px;
	text-align: left;
	padding: 25px;
	border: 3px solid var(--dark-teal);
	border-radius: 5px;
}

.scroll-column h1 {
	text-align: center;
}

.scroll-column a {
	padding: 0.5em;
}

.incomplete-tag {
	color: var(--light-pink);
}

.filterDiv {
	background-color: var(--grey);
	text-align: center;
	margin: 0.5em;
	display: none;
	padding: 0;
	border-radius: 15px;
	border-style: solid;
	border-color: var(--dark-teal);
	border-width: 1.5px;
	flex: 0 0 20%;
	transition: 0.3s;
	min-width: 45%;
}

.filterDiv h3 {
	padding: 0 0.5em;
}

.filterDiv * {
	margin: 0;
	color: white;
}

.filterDiv:hover {
	min-width: 48%;
}

.show {
	display: block;
}

.directory-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	margin-top: 20px;
	overflow: hidden;
}

.directory-container img {
	width: 100%;
	max-height: 100px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
	object-position: 50% 0;
}

.categories {
	text-align: center;
}

.category{
	margin: 0.25em;
	background-color: var(--dark-pink);
	border-radius: 5px;
	overflow: hidden;
	transition: 0.3s;
}

.category:hover {
	background-color: var(--dark-teal);
}

.category * {
	transition: 0.2s;
}

.category label {
	float: left;
	line-height: 2.5em;
	width: 8em;
	height: 2.5em;
}

.category label span {
	text-align: center;
	display: block;
}

.category input {
	position: absolute;
	display: none;
}

.category input:checked + label {
	background-color: var(--dark-teal);
}

.category-type {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.oshi-room-row {
	display: flex;
	text-align: center;
	align-items: baseline;
	justify-content: center;
}

.oshi-room-column {
	flex: 50%;
	margin: 0.5em;
}

#scroll-container {
	margin-right: 20px;
	margin-left: 20px;
	overflow: hidden;
}

#scroll-text {
  text-align: right;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 10s linear infinite;
  -webkit-animation: my-animation 10s linear infinite;
  animation: my-animation 10s linear infinite;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--pink);
}

::selection {
  color: white;
  background: var(--pink);
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
  
@media (max-width:800px) {
	.main {
		width: 95%;
	}
	
	.directorylink .summarypreview {
		display: none;
	}
	
	.filterDiv {
	flex-grow: 1;
}
}